################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Specification/bin/Debug/netstandard1.6
/src/Specification/obj/Debug/netstandard1.6
